[tools]
go = "1.22"
golangci-lint = "1.60.1"

[tasks.ci]
depends = ["setup", "lint", "test", "build"]

[tasks.setup]
run = "go version && golangci-lint --version"

[tasks.lint]
depends = ["lint:go"]

[tasks."lint:go"]
run = "golangci-lint run ./..."

[tasks.test]
depends = ["test:go"]

[tasks."test:go"]
run = "go test -v ./..."

[tasks.build]
depends = ["build:go"]

[tasks."build:go"]
run = "mkdir -p dist && go build -o dist/go-listener-demo cmd/go-listener-demo/main.go"
