name: autorelease

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  autorelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        with:
          install: true
          cache: true

      - name: Install
        run: mise run install

      - name: Codegen
        run: mise run codegen

      - name: Create PR if changes
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update generated code"
          title: "chore: update generated code"
          body: "This PR updates the generated code."
          branch: "chore/update-generated-code"
          base: ${{ github.head_ref || github.ref_name }}

      - name: CI
        run: mise run ci

      - name: Build
        run: mise run build

      - name: Release
        if: github.event_name == 'workflow_dispatch' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v$(date +'%Y.%m.%d-%H%M') dist/* --generate-notes
